@font-face {
  font-family: 'archivoRegular';
  src: url('../../fonts/ArchivoBlack-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'archivoThin';
  src: url('../../fonts/ArchivoNarrow-VariableFont_wght.ttf') format('truetype');
}

/* global */
main.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: black;
  background-image: linear-gradient(to right, #7760c3, #2ebfbd);
}
main.contact div.contactCard {
  background-color: rgba(63, 63, 63, 0.2);
  padding: 1rem;
  width: 90%;
  max-width: 500px;
  box-sizing: border-box;
}
main.contact label {
  visibility: hidden;
}
main.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.25rem;
}
.contactInputContainer {
  display: flex;
  flex-direction: column;
}
main.contact label {
  font-family: archivoThin;
}
/* main.contact input {
} */
#email {
  padding: 0.25rem 0.5rem;
  height: 1.5rem;
  width: 80vw;
  max-width: 400px;
  font-family: archivoThin;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.25rem;
}
#message {
  padding: 0.25rem 0.5rem;
  box-shadow: none;
  height: 3rem;
  width: 80vw;
  max-width: 400px;
  resize: none;
  font-family: archivoThin;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.25rem;
}

main.contact button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-family: archivoRegular;
  border: 2px solid black;
  border-radius: 1.5rem;
  background: none;
  transition: all 1s;
}
main.contact button.enabledButton:hover {
  color: white;
  border-color: white;
}

/* @media (max-width: 500px) {
  #email {
    width: 80vw;
    max-width: 400px;
  }
  #message {
    width: 80vw;
    max-width: 400px;
  }
}

/* @media (max-width: 500px) {
  #email {
    width: 80vw;
    max-width: 400px;
  }
  #message {
    width: 80vw;
    max-width: 400px;
  }
} */
