/* fonts */
@font-face {
  font-family: 'archivoRegular';
  src: url('../../../../fonts/ArchivoBlack-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'archivoThin';
  src: url('../../../../fonts/ArchivoNarrow-VariableFont_wght.ttf')
    format('truetype');
}

a.blogPostTile {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  height: 18rem;
  text-decoration: none;
  color: black;
  background-color: rgba(63, 63, 63, 0.2);
  border-radius: 0.5rem;
  box-sizing: border-box;
  z-index: 1;
}
a.blogPostTile h2 {
  font-family: archivoRegular;
  line-height: 2.25rem;
}
a.blogPostTile h2::first-letter {
  text-transform: capitalize;
}
a.blogPostTile p {
  font-family: archivoThin;
}
a.blogPostTile .blogPostTileContainer {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  bottom: 1rem;
}
a.blogPostTile .readBlogButton {
  padding: 0.5rem 1rem;
  color: black;
  font-family: archivoRegular;
  font-size: 1.2rem;
  border: 2px solid black;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: all 1s;
}
a.blogPostTile .readBlogButton:hover {
  color: white;
  border-color: white;
  background-image: none;
  box-sizing: border-box;
}

@media (max-width: 799px) {
  a.blogPostTile {
    height: 15rem;
    width: 90vw;
    max-width: 450px;
  }
  a.blogPostTile h2 {
    font-size: 1.75rem;
  }
  a.blogPostTile p {
    font-size: 1rem;
    margin-top: 1rem;
  }
}

@media (max-width: 500px) {
  a.blogPostTile {
    padding: 1rem;
    height: 15rem;
  }
  a.blogPostTile h2 {
    font-size: 1.5rem;
  }
}

@media (min-width: 800px) {
  a.blogPostTile {
    width: 450px;
  }
  a.blogPostTile h2 {
    font-size: 1.75rem;
  }
  a.blogPostTile p {
    font-size: 1rem;
    margin-top: 1rem;
  }
}

@media (min-width: 1200px) {
  a.blogPostTile h2 {
    font-size: 2rem;
  }
}
