/* fonts */
@font-face {
  font-family: 'archivoRegular';
  src: url('../../../../fonts/ArchivoBlack-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'archivoThin';
  src: url('../../../../fonts/ArchivoNarrow-VariableFont_wght.ttf')
    format('truetype');
}

/* global */
main.landing_page {
  position: sticky;
  top: 0;
  color: white;
}
h1.name_heading {
  font-family: 'archivoRegular';
}
main.landing_page .name_trait_divisor_shrink {
  visibility: hidden;
}
ul.personal_description li {
  font-family: 'archivoThin';
}
li#personal_description_veteran {
  display: flex;
  justify-content: center;
}

div.homepage_down_arrow {
  position: absolute;
  display: inline-block;
  border: solid white;
  transform: rotate(45deg);
  border-width: 0 3px 3px 0;
  padding: 1rem;
  bottom: 2rem;
}

/* mobile */
@media (max-width: 799px) {
  main.landing_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 3.5rem);
    text-align: center;
  }
  h1.name_heading {
    position: absolute;
    top: 1rem;
    font-size: 3rem;
  }
  main.landing_page hr {
    display: none;
  }
  /* personal descriptions */
  ul.personal_description > li {
    margin: 1rem 0;
    font-size: 1.5rem;
    transition: transform 1s;
  }
  /* description animation */
  .hidden_descriptions_1 {
    transform: translateX(-70vw);
  }
  .hidden_descriptions_2 {
    transform: translateX(-140vw);
  }
  .hidden_descriptions_3 {
    transform: translateX(-210vw);
  }
  /* hr animation */
  main.landing_page .name_trait_divisor_shrink {
    width: 0rem;
  }
}

@media (max-width: 500px) {
  main.landing_page {
    height: calc(100vh - 3rem);
  }
  h1.name_heading {
    font-size: 2.5rem;
  }
  main.landing_page hr {
    display: none;
  }
}
/* landscape */
@media (max-height: 500px) and (max-width: 799px) {
  h1.name_heading {
    top: 1rem;
  }
  main.landing_page .personal_description {
    margin-top: 1rem;
  }
}

/* tablet */
@media (min-width: 800px) {
  main.landing_page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 3.5rem);
    font-size: 3rem;
    text-align: center;
    line-height: 1.2rem;
  }
  h1.name_heading {
    font-size: 3rem;
  }
  main.landing_page hr {
    margin: 0 1.5rem;
    width: 2px;
    height: 50vh;
    background-color: white;
    transition: all 1s;
  }
  ul.personal_description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 4rem;
  }
  ul.personal_description > li {
    font-size: 1.4rem;
    transition: transform 1.3s;
  }
  /* description animation */
  .hidden_descriptions_1 {
    transform: translateY(-180vh);
  }
  .hidden_descriptions_2 {
    transform: translateY(-140vh);
  }
  .hidden_descriptions_3 {
    transform: translateY(-100vh);
  }
  /* hr animation */
  main.landing_page .name_trait_divisor_shrink {
    height: 0rem;
  }
}

/* desktop */
@media (min-width: 1000px) {
  h1.name_heading {
    font-size: 4rem;
  }
  ul.personal_description > li {
    font-size: 1.75rem;
  }
}

/* extra large */
@media (min-width: 1500px) {
  h1.name_heading {
    font-size: 5.5rem;
  }
  ul.personal_description > li {
    font-size: 2.5rem;
  }
}
