/* fonts */
@font-face {
  font-family: 'archivoRegular';
  src: url('../../../../fonts/ArchivoBlack-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'archivoThin';
  src: url('../../../../fonts/ArchivoNarrow-VariableFont_wght.ttf')
    format('truetype');
}

/* global */
main.landing_page {
  height: 100vh;
  color: white;
  background-color: black;
}
h1.name_heading {
  font-family: 'archivoRegular';
}
ul.personal_description li {
  font-family: 'archivoThin';
}
li#personal_description_veteran {
  display: flex;
  justify-content: center;
}
li#personal_description_veteran div:nth-child(1) {
  color: rgb(255, 135, 157);
}
li#personal_description_veteran div:nth-child(3) {
  color: rgb(159, 135, 255);
}
div.homepage_down_arrow {
  display: inline-block;
  border: solid white;
  transform: rotate(45deg);
}

/* mobile */
@media (max-width: 799px) {
  main.landing_page {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  h1.name_heading {
    position: absolute;
    top: 5rem;
    /* font-size: 3rem; */
    text-transform: uppercase;
  }
  main.landing_page hr {
    position: absolute;
    top: 7rem;
    width: 60vw;
    transition: all 1s;
    background-color: white;
  }
  /* personal descriptions */
  ul.personal_description > li {
    margin: 1rem 0;
    font-size: 1.5rem;
    transition: transform 1s;
  }
  /* description animation */
  .hidden_descriptions_1 {
    transform: translateX(-70vw);
  }
  .hidden_descriptions_2 {
    transform: translateX(-140vw);
  }
  .hidden_descriptions_3 {
    transform: translateX(-210vw);
  }
  /* hr animation */
  main.landing_page .name_trait_divisor_shrink {
    width: 0rem;
    background-color: black;
    border-color: black;
  }
  /* down arrow */
  div.homepage_down_arrow {
    position: absolute;
    border-width: 0 3px 3px 0;
    padding: 1rem;
    bottom: 2rem;
  }
}

@media (max-width: 500px) {
  h1.name_heading {
    top: 5rem;
  }
  main.landing_page hr {
    width: 70vw;
    top: 6rem;
  }
}

/* tablet */
@media (min-width: 800px) {
  main.landing_page {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-align: center;
    line-height: 1.2rem;
  }
  h1.name_heading {
    font-size: 3rem;
  }
  main.landing_page hr {
    margin: 0 1.5rem;
    width: 2px;
    height: 60vh;
    background-color: white;
    transition: all 1s;
  }
  ul.personal_description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 4rem;
  }
  ul.personal_description > li {
    font-size: 1.4rem;
    transition: transform 1.3s;
  }
  /* description animation */
  .hidden_descriptions_1 {
    transform: translateY(-180vh);
  }
  .hidden_descriptions_2 {
    transform: translateY(-140vh);
  }
  .hidden_descriptions_3 {
    transform: translateY(-100vh);
  }
  /* hr animation */
  main.landing_page .name_trait_divisor_shrink {
    height: 0rem;
    background-color: black;
    border-color: black;
  }
  div.homepage_down_arrow {
    display: none;
  }
}

/* desktop */
@media (min-width: 1000px) {
  h1.name_heading {
    font-size: 4rem;
  }
  ul.personal_description > li {
    font-size: 1.75rem;
  }
}

/* extra large */
@media (min-width: 1500px) {
  h1.name_heading {
    font-size: 5.5rem;
  }
  ul.personal_description > li {
    font-size: 2.5rem;
  }
}
