@font-face {
  font-family: 'archivoRegular';
  src: url('../../../../fonts/ArchivoBlack-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'archivoThin';
  src: url('../../../../fonts/ArchivoNarrow-VariableFont_wght.ttf')
    format('truetype');
}

/* global */
main.contact {
  height: 100vh;
  background-color: black;
  border-top: 5px solid white;
  color: white;
}
main.hide_page_division {
  border-top: 5px solid black;
}
main.contact {
  font-family: archivoThin;
}
main.contact h1 {
  font-family: archivoRegular;
}
#email {
  border: none;
  font-size: 1.05rem;
  font-family: archivoThin;
}
#message {
  border: none;
  box-shadow: none;
  resize: none;
  font-size: 1.1rem;
  font-family: archivoThin;
  font-weight: 100;
}
#header_contact_divisor {
  background-color: white;
}

@media (max-width: 799px) {
  main.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main.contact h1 {
    position: absolute;
    top: 1rem;
    font-size: 5rem;
    text-transform: uppercase;
  }
  main.contact form {
    border: 1px solid white;
    border-radius: 0.25rem;
    padding: 1rem;
  }
  #header_contact_divisor {
    position: absolute;
    top: 6rem;
    width: 80%;
  }
  .contact_input_container {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
  }
  .contact_input_container label {
    margin-bottom: 0.5rem;
  }
  #email:focus,
  #message:focus {
    outline: 3px solid rgb(34, 255, 0);
  }
  main.contact label {
    font-size: 1.1rem;
  }
  #email {
    width: 70vw;
    height: 1.75rem;
    border: none;
    border-radius: 0.25rem;
    text-indent: 0.25rem;
  }
  #message {
    width: 70vw;
    height: 8rem;
    border: none;
    box-shadow: none;
    resize: none;
    border-radius: 0.25rem;
    text-indent: 0.25rem;
  }
  main.contact .submit_contact_container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  main.contact button {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-family: archivoRegular;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 0.25rem;
  }
  main.contact .contact_form_icons {
    position: relative;
    display: flex;
    justify-content: center;
    top: 5rem;
    width: 100%;
  }
  .contact_form_icons img {
    margin: 0 1rem;
    color: white;
    height: 5rem;
  }
}

@media (max-width: 500px) {
  main.contact h1 {
    font-size: 4rem;
  }
  #header_contact_divisor {
    top: 5rem;
  }
}
