/* fonts */
@font-face {
  font-family: 'archivoRegular';
  src: url('../../fonts/ArchivoBlack-Regular.ttf') format('truetype');
}

main.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  background-image: linear-gradient(to right, #7760c3, #2ebfbd);
}
h1.projectsHeading {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: archivoRegular;
  text-transform: capitalize;
}
main.projects ul.projectTilesContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  overflow-y: auto;
}

@media (max-width: 799px) {
  h1.projectsHeading {
    font-size: 4rem;
  }
}

@media (max-width: 500px) {
  main.projects {
    margin-top: 3rem;
    height: calc(100vh - 3rem);
  }
  h1.projectsHeading {
    font-size: 3.5rem;
  }
}

@media (min-width: 501px) {
  main.projects {
    margin-top: 3.5rem;
    height: calc(100vh - 3.5rem);
  }
}

@media (min-width: 800px) {
  main.projects {
    cursor: none;
  }
  h1.projectsHeading {
    font-size: 5rem;
  }
}

@media (min-width: 1100px) {
  h1.projectsHeading {
    font-size: 6rem;
  }
}
