.homepageContainer {
  user-select: none;
}

::-webkit-scrollbar {
  width: 10px;
  background: white;
}
::-webkit-scrollbar-thumb {
  background: black;
}

@media (min-width: 800px) {
  .homepageContainer {
    cursor: none;
  }
}
