::-webkit-scrollbar {
  width: 10px;
  background: white;
}
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 1rem;
}

.landing_page {
  position: sticky;
  top: 0;
}

@media (min-width: 800px) {
  .homepageContainer {
    cursor: none;
  }
}
