/* font */
@font-face {
  font-family: 'archivoRegular';
  src: url('../../fonts/ArchivoBlack-Regular.ttf') format('truetype');
}

.readBlog {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-family: archivoRegular;
  overflow-y: auto;
  overflow-x: hidden;
  background-image: linear-gradient(to right, #7760c3, #2ebfbd);
}
.readBlog h1 {
  margin-top: 2rem;
  text-align: center;
  text-transform: capitalize;
}
.bodyParagraphs {
  width: 100vw;
  box-sizing: border-box;
}

@media (max-width: 799px) {
  .readBlog h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .bodyParagraphs {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 500px) {
  .readBlog {
    margin-top: 3rem;
    min-height: calc(100vh - 3rem);
  }
  .readBlog h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .readBlogDate {
    margin: 3rem 0;
  }
}

@media (min-width: 501px) {
  .readBlog {
    margin-top: 3.5rem;
    min-height: calc(100vh - 3.5rem);
  }
  .readBlogDate {
    margin: 3rem 0;
  }
}

@media (min-width: 800px) {
  .readBlog {
    cursor: none;
  }
  .readBlog h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    max-width: 1200px;
  }
  .readBlogDate {
    margin: 4rem 0;
  }
  .bodyParagraphs {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1200px;
  }
}
