@font-face {
  font-family: 'archivoThin';
  src: url('../../../../fonts/ArchivoNarrow-VariableFont_wght.ttf')
    format('truetype');
}

div.comments {
  margin-top: 5rem;
}

div.comments .commentsHeading {
  color: black;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

div.comments form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.comments button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: archivoRegular;
  color: black;
  background: none;
  border: 2px solid black;
  border-radius: 1.5rem;
  transition: all 1s;
}
div.comments button:hover {
  background-image: none;
  color: white;
  border: 2px solid white;
  background-image: none;
  cursor: pointer;
}

#commentInput {
  box-shadow: none;
  height: 4.5rem;
  width: 90vw;
  max-width: 450px;
  resize: none;
  font-size: 1.1rem;
  font-family: archivoThin;
  text-indent: 0.25rem;
  border: none;
  border-radius: 0.25rem;
}

.comment_form_response_modal {
  box-sizing: border-box;
  position: fixed;
  justify-content: center;
  align-items: center;
  font-family: archivoRegular;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.postCommentsContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 799px) {
  div.comments button {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
  }
  .comment_form_response_modal {
    top: calc(50% - 3rem);
    left: calc(50% - 5rem);
    height: 6rem;
    width: 10rem;
    color: white;
    background-color: black;
    font-size: 1.5rem;
  }
}

@media (min-width: 800px) {
  div.comments button {
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
  }
  .comment_form_response_modal {
    top: calc(50% - 4.5rem);
    left: calc(50% - 7.5rem);
    height: 9rem;
    width: 15rem;
    color: white;
    background-color: black;
    font-size: 1.5rem;
  }
}
