/* fonts */
@font-face {
  font-family: 'archivoRegular';
  src: url('../../../../fonts/ArchivoBlack-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'archivoThin';
  src: url('../../../../fonts/ArchivoNarrow-VariableFont_wght.ttf')
    format('truetype');
}

/* global */
main.skills {
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  height: 100vh;
  background-color: black;
  color: white;
}
main.hide_page_division {
  border-top: 5px solid black;
}
main.skills h1 {
  font-family: archivoRegular;
}
#title_skills_divisor {
  background-color: white;
}

/* mobile/tablet */
@media (max-width: 799px) {
  main.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main.skills {
    position: relative;
  }
  main.skills h1 {
    position: absolute;
    top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 5rem;
    text-transform: uppercase;
  }
  #title_skills_divisor {
    position: absolute;
    top: 6rem;
    width: 60%;
  }
  main.skills ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 8rem;
    width: 100%;
  }
  main.skills ul li {
    display: flex;
    justify-content: center;
    width: 33%;
  }
  .technology_icon {
    color: black;
    height: 70%;
    width: 70%;
  }
}

@media (max-width: 500px) {
  main.skills h1 {
    font-size: 4rem;
  }
  #title_skills_divisor {
    top: 5rem;
    width: 70%;
  }
  main.skills ul {
    margin-top: 18rem;
  }
  main.skills ul li {
    width: 50%;
  }
  main.skills .linux_icon {
    display: none;
  }
  .technology_icon {
    height: 60%;
    width: 60%;
  }
}
@media (max-width: 450px) {
  main.skills ul {
    margin-top: 14rem;
  }
}

@media (min-width: 800px) {
  main.skills {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  main.skills h1 {
    font-size: 3rem;
  }
  #title_skills_divisor {
    margin: 0 1.5rem;
    height: 60vh;
    width: 2px;
  }
  main.skills ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 8rem;
    width: 60%;
  }
  main.skills ul li {
    display: flex;
    justify-content: center;
    width: 33%;
  }
  .technology_icon {
    color: black;
    height: 80%;
    width: 80%;
  }
}
