/* fonts */
@font-face {
  font-family: 'archivoRegular';
  src: url('../../../../fonts/ArchivoBlack-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'archivoThin';
  src: url('../../../../fonts/ArchivoNarrow-VariableFont_wght.ttf')
    format('truetype');
}

/* global */
main.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  height: 100vh;
  background-color: black;
  color: white;
}

main.hide_page_division {
  border-top: 5px solid black;
}

@media (max-width: 799px) {
  main.skills h1 {
    margin-bottom: 3rem;
    top: 2rem;
    font-size: 3rem;
    font-family: archivoRegular;
    text-transform: uppercase;
  }
  main.skills ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* align-content: flex-start; */
    width: 100%;
  }
  main.skills ul li {
    display: flex;
    justify-content: center;
    width: 50%;
  }
  .technology_icon {
    color: black;
    height: 60%;
    width: 60%;
  }
}
