@font-face {
  font-family: 'archivoThin';
  src: url('../../../../fonts/ArchivoNarrow-VariableFont_wght.ttf')
    format('truetype');
}

li.postCommentContainer {
  padding: 1rem;
  width: 90vw;
  max-width: 600px;
  box-sizing: border-box;
  border-top: 1px solid white;
}

p.postComment::first-letter {
  text-transform: capitalize;
}

p.postDate {
  margin-top: 0.5rem;
}

@media (max-width: 500px) {
  p.postComment {
    font-size: 1.2rem;
    font-family: archivoThin;
  }
  p.postDate {
    font-size: 0.6rem;
  }
}

@media (min-width: 501px) {
  p.postComment {
    font-size: 1.5rem;
    font-family: archivoThin;
  }
  p.postDate {
    font-size: 0.8rem;
  }
}
