/* fonts */
@font-face {
  font-family: 'archivoRegular';
  src: url('../../fonts/ArchivoBlack-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'archivoThin';
  src: url('../../fonts/ArchivoNarrow-VariableFont_wght.ttf') format('truetype');
}

/* global */
#navbar {
  user-select: none;
  box-sizing: border-box;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  top: 0rem;
  padding: 1rem;
  font-family: archivoRegular;
  transition: transform 0.5s;
  background-image: linear-gradient(to right, #7760c3, #2ebfbd);
  z-index: 1;
}
#navbar::before {
  position: absolute;
  content: '';
  left: 0;
  height: 100%;
  width: 100vw;
  background-color: rgba(63, 63, 63, 0.3);
  z-index: -1;
}
.mobile_nav_modal {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  transform: translateX(100vw);
  transition: all 1s;
  background-image: linear-gradient(to right, #7760c3, #2ebfbd);
}
#navbar.show_navbar.mobile_nav_modal {
  transform: translateY(0);
}
.mobile_nav_modal_open {
  transform: translateX(0);
}
.mobile_nav_modal ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobile_nav_modal a {
  color: black;
  font-family: archivoRegular;
  text-decoration: none;
  transition: all 1s;
}
.mobile_nav_modal a:hover {
  color: white;
}
.mobile_nav_modal a.mobile_nav_selected {
  color: white;
}
img[alt='close menu'] {
  position: fixed;
  top: 2rem;
  filter: invert(1);
}
img[alt='close menu']:hover {
  cursor: pointer;
}

/* mobile/tablet */
@media (max-width: 799px) {
  #navbar {
    height: 3.5rem;
  }
  #navbar p {
    font-size: 2rem;
  }
  .mobile_nav_modal a {
    margin: 0.5rem 0;
    font-size: 2rem;
  }
  .hamburger_icon {
    cursor: pointer;
  }
}

/* mobile */
@media (max-width: 500px) {
  #navbar {
    height: 3rem;
  }
  #navbar p {
    font-size: 1.5rem;
  }
}

/* tablet */
@media (min-width: 800px) {
  #navbar {
    height: 3.5rem;
    cursor: none;
  }
  #navbar p {
    font-size: 2rem;
  }
  .mobile_nav_modal a {
    margin: 1rem 0;
    font-size: 3rem;
  }
  .mobile_nav_modal {
    cursor: none;
  }
  .hamburger_icon {
    cursor: pointer;
  }
}
