/* fonts */
@font-face {
  font-family: 'archivoRegular';
  src: url('../../fonts/ArchivoBlack-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'archivoThin';
  src: url('../../fonts/ArchivoNarrow-VariableFont_wght.ttf') format('truetype');
}

::-webkit-scrollbar {
  width: 10px;
  background: white;
}
::-webkit-scrollbar-thumb {
  box-sizing: border-box;
  background: black;
}

/* global */
#navbar {
  user-select: none;
  transition: transform 0.5s;
  font-family: archivoRegular;
  z-index: 1;
}
#navbar.show_navbar {
  transform: translateY(0);
}

/* mobile/tablet */
@media (max-width: 799px) {
  #navbar {
    box-sizing: border-box;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    width: 100vw;
    top: 0rem;
    padding: 1rem;
    background-color: white;
    transform: translateY(-4.5rem);
  }
  p {
    font-size: 1.2rem;
  }
  .mobile_nav_modal {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    color: white;
    background-color: black;
    z-index: 1;
    transform: translateX(100vw);
    transition: all 1s;
  }
  .mobile_nav_modal_open {
    transform: translateX(0);
  }
  .mobile_nav_modal ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: calc(2rem + 50px);
  }
  .mobile_nav_modal a {
    margin: 0.5rem 0;
    color: white;
    font-family: archivoRegular;
    font-size: 2rem;
    text-decoration: none;
  }
  .mobile_nav_modal a.mobile_nav_selected {
    color: #32a893;
  }
  img[alt='close menu'] {
    position: fixed;
    bottom: 2rem;
    filter: invert(1);
  }
  img[alt='close menu']:hover {
    cursor: pointer;
  }
}

/* mobile */
@media (max-width: 500px) {
  #navbar {
    height: 3rem;
  }
  p {
    font-size: 1rem;
  }
}

/* tablet */
@media (min-width: 800px) {
  #navbar {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100vw;
    cursor: none;
    z-index: 1;
  }
}
