#categories {
  position: fixed;
  display: flex;
  /* background-color: black; */
}

/* TODO create media queries dependent on what the navbar does */

@media (min-width: 800px) {
  #categories {
    flex-direction: column;
    justify-content: center;
    margin-top: 4.5rem;
    height: 100vh;
    bottom: 0;
    left: 7rem;
  }
}
