#categories {
  position: fixed;
  display: flex;
  /* background-color: black; */
}

/* TODO create media queries dependent on what the navbar does */

@media (max-width: 799px) {
  #categories {
    top: 8rem;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
  }
}

@media (max-width: 500px) {
  #categories {
    top: 7rem;
  }
}

@media (min-width: 800px) {
  #categories {
    flex-direction: column;
    justify-content: center;
    margin-top: 4.5rem;
    height: 100vh;
    bottom: 0;
    left: 6rem;
    max-width: 12rem;
  }
}

@media (min-width: 1500px) {
  #categories {
    left: 7rem;
  }
}
