ul.categories {
  display: flex;
  padding: 0.5rem 1rem;
  border: 2px solid white;
  background-color: black;
  color: red;
  z-index: 0;
}

/* TODO create media queries dependent on what the navbar does */

@media (min-width: 800px) {
  ul.categories {
    margin-top: 4.5rem;
  }
}
