#cursor {
  position: fixed;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: 50%;
  mix-blend-mode: difference;
  background-color: white;
  z-index: 5;
  height: 30px;
  width: 30px;
}

@media (max-width: 800px) {
  #cursor {
    display: none;
  }
}
