div.placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 1px solid black;
  background-color: rgb(89, 140, 89);
}

.firstBox,
.secondBox {
  opacity: 0;
}
