main.placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(89, 140, 89);
}

.firstBox {
  position: relative;
  right: 55vw;
}

.secondBox {
  display: none;
  position: relative;
  left: 55vw;
}
