/* fonts */
@font-face {
  font-family: 'archivoRegular';
  src: url('../../../../fonts/ArchivoBlack-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'archivoThin';
  src: url('../../../../fonts/ArchivoNarrow-VariableFont_wght.ttf')
    format('truetype');
}

/* global */
main.about {
  height: 100vh;
  color: white;
  border-top: 5px solid white;
  background-color: #2d3c40;
  background-image: linear-gradient(0deg, #2a2e2e 0%, #000000 100%);
}

main.about p {
  font-family: archivoThin;
}

/* mobile */
@media (max-width: 799px) {
  main.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main.about p {
    text-align: center;
    font-size: 1.4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

/* mobile: after 799 on purpose */
@media (max-width: 500px) {
  main.about h1 {
    top: 5rem;
    font-size: 2rem;
  }
  main.about hr {
    top: 7rem;
    width: 265px;
  }
  main.about p {
    font-size: 1.3rem;
  }
}

/* tablet */
@media (min-width: 800px) {
  main.about {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  main.about hr {
    margin: 0 1.5rem;
    height: 60vh;
    width: 2px;
    transition: all 1s;
  }
  main.about .title_about_divisor_shrink {
    height: 0rem;
  }
  main.about p {
    width: 500px;
    text-align: center;
    font-size: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

/* desktop */
@media (min-width: 1000px) {
  main.about p {
    width: 500px;
    text-align: center;
    font-size: 1.75rem;
  }
}

@media (min-width: 1500px) {
  main.about p {
    width: 750px;
    text-align: center;
    font-size: 2.5rem;
  }
}
