/* fonts */
@font-face {
  font-family: 'archivoRegular';
  src: url('../../../../fonts/ArchivoBlack-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'archivoThin';
  src: url('../../../../fonts/ArchivoNarrow-VariableFont_wght.ttf')
    format('truetype');
}

/* global */
main.about {
  height: 100vh;
  margin-bottom: 75vh;
  color: white;
  border-top: 5px solid white;
  background-color: #2d3c40;
  background-image: linear-gradient(0deg, #2a2e2e 0%, #000000 100%);
}
main.hide_page_division {
  border-top: 5px solid black;
}
main.about h1 {
  font-family: archivoRegular;
}
main.about hr {
  background-color: white;
}
main.about hr.title_about_divisor_shrink {
  visibility: hidden;
  background-color: black;
  border-color: black;
}

main.about p {
  font-family: archivoThin;
  opacity: 1;
  transition: all 1s;
}
main.about p.about_me_fade {
  opacity: 0;
}

/* mobile */
@media (max-width: 799px) {
  main.about {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* about header */
  main.about h1 {
    position: absolute;
    top: 6rem;
    font-size: 2.5rem;
    text-transform: uppercase;
  }
  main.about hr {
    position: absolute;
    top: 8.5rem;
    width: 350px;
    transition: all 1s;
  }
  main.about hr.title_about_divisor_shrink {
    width: 0rem;
  }
  main.about p {
    text-align: center;
    font-size: 1.4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

/* mobile: after 799 on purpose */
@media (max-width: 500px) {
  main.about h1 {
    top: 5rem;
    font-size: 2rem;
  }
  main.about hr {
    top: 7rem;
    width: 265px;
  }
  main.about p {
    font-size: 1.3rem;
  }
}

@media (max-height: 500px) and (max-width: 799px) {
  main.about h1 {
    top: 4rem;
  }
  main.about hr {
    top: 6.5rem;
  }
}

/* tablet */
@media (min-width: 800px) {
  main.about {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  main.about h1 {
    font-size: 3rem;
  }
  main.about hr {
    margin: 0 1.5rem;
    height: 60vh;
    width: 2px;
    transition: all 1s;
  }
  main.about .title_about_divisor_shrink {
    height: 0rem;
  }
  main.about p {
    width: 500px;
    text-align: center;
    font-size: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

/* desktop */
@media (min-width: 1000px) {
  main.about h1 {
    font-size: 4rem;
  }
  main.about p {
    width: 500px;
    text-align: center;
    font-size: 1.75rem;
  }
}

@media (min-width: 1500px) {
  main.about h1 {
    font-size: 5.5rem;
  }
  main.about p {
    width: 750px;
    text-align: center;
    font-size: 2.5rem;
  }
}
