/* fonts */
@font-face {
  font-family: 'archivoRegular';
  src: url('../../../../fonts/ArchivoBlack-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'archivoThin';
  src: url('../../../../fonts/ArchivoNarrow-VariableFont_wght.ttf')
    format('truetype');
}

/* global */
main.about {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border-top: 5px solid black;
}

main.about p {
  font-family: archivoThin;
}

/* mobile */
@media (max-width: 799px) {
  main.about {
    height: calc(100vh - 3.5rem);
  }
  main.about p {
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.9rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

/* mobile: after 799 on purpose */
@media (max-width: 500px) {
  main.about {
    height: calc(100vh - 3rem);
  }
  main.about p {
    font-size: 1.5rem;
    line-height: 1.7rem;
  }
}

/* tablet */
@media (min-width: 800px) {
  main.about {
    height: calc(100vh - 3.5rem);
  }
  main.about p {
    max-width: 800px;
    text-align: center;
    font-size: 2.1rem;
    line-height: 2.3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

/* desktop */
@media (min-width: 1000px) {
  main.about p {
    text-align: center;
    font-size: 2.4rem;
    line-height: 2.6rem;
  }
}

@media (min-width: 1500px) {
  main.about p {
    text-align: center;
    font-size: 2.5rem;
    line-height: 2.7rem;
  }
}
