/* fonts */
@font-face {
  font-family: 'archivoRegular';
  src: url('../../fonts/ArchivoBlack-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'archivoThin';
  src: url('../../fonts/ArchivoNarrow-VariableFont_wght.ttf') format('truetype');
}

div.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

h1.blogHeading {
  position: fixed;
  color: white;
  font-family: archivoRegular;
  text-transform: uppercase;
  user-select: none;
}
div.blog hr {
  background-color: white;
}
ul.blogPostContainer {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  overflow: auto;
  z-index: 0;
}

@media (max-width: 799px) {
  h1.blogHeading {
    display: flex;
    top: 1rem;
    font-size: 5rem;
  }
  div.blog::before {
    background-size: 175%;
  }
  div.blog hr {
    position: absolute;
    top: 6rem;
    width: 50vw;
  }
  ul.blogPostContainer {
    top: 11rem;
    height: calc(100vh - 14.5rem);
    width: 100vw;
  }
}

@media (max-width: 500px) {
  h1.blogHeading {
    font-size: 4rem;
  }
  div.blog::before {
    background-size: 275%;
  }
  div.blog hr {
    top: 5rem;
    width: 50vw;
  }
  ul.blogPostContainer {
    top: 10rem;
    height: calc(100vh - 13.5rem);
    width: 100vw;
  }
}

@media (min-width: 800px) {
  h1.blogHeading {
    left: 1rem;
    top: calc(50% - 123px);
    font-size: 4rem;
    text-shadow: 4px 0 0 black, 0 4px 0 black, -4px 0 0 black, 0 -4px 0 black;
  }
  h1.blogHeading p {
    margin: -2px;
  }
  div.blog hr {
    position: fixed;
    margin: 0;
    left: 5rem;
    top: calc(50% - 151px);
    height: 300px;
    width: 2px;
  }
  ul.blogPostContainer {
    top: 4rem;
    left: 256px;
    height: calc(100vh - 5rem);
    width: calc(100vw - 256px);
  }
}

@media (min-width: 1500px) {
  h1.blogHeading {
    top: calc(50% - 155px);
    font-size: 5rem;
  }
  div.blog hr {
    position: fixed;
    left: 6rem;
    top: calc(50% - 176px);
    height: 350px;
    width: 2px;
  }
  ul.blogPostContainer {
    top: 4rem;
    left: 272px;
    height: calc(100vh - 5rem);
    width: calc(100vw - 272px);
  }
}
