div.blog {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

div.blog::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./images/mandelbrot_large.webp');
  filter: invert(1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 799px) {
  div.blog::before {
    background-size: 150%;
  }
}

/* div.modal {
  height: 20rem;
  width: 20rem;
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
} */

/* div.modal:before {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
  content: '';
  height: 100%;
  position: absolute;
  width: 100%;
} */
