/* fonts */
@font-face {
  font-family: 'archivoRegular';
  src: url('../../fonts/ArchivoBlack-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'archivoThin';
  src: url('../../fonts/ArchivoNarrow-VariableFont_wght.ttf') format('truetype');
}

div.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 3.5rem);
  width: 100vw;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3030 0%, #000000 74%);
}

h1.blogHeading {
  color: white;
  font-family: archivoRegular;
  text-transform: uppercase;
  user-select: none;
}
ul.blogPostContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  overflow-y: auto;
  z-index: 0;
}
ul.blogPostContainer::-webkit-scrollbar {
  width: 10px;
  background: none;
}
ul.blogPostContainer::-webkit-scrollbar-thumb {
  background-color: white;
}

@media (max-width: 799px) {
  div.blog {
    margin-top: 3.5rem;
  }
  h1.blogHeading {
    margin-top: 2rem;
    font-size: 4rem;
  }
  ul.blogPostContainer {
    width: 100vw;
  }
}

@media (max-width: 500px) {
  div.blog {
    margin-top: 3rem;
    height: calc(100vh - 3rem);
  }
  h1.blogHeading {
    font-size: 4rem;
  }
  div.blog::before {
    background-size: 275%;
  }
  ul.blogPostContainer {
    width: 100vw;
  }
}

@media (min-width: 800px) {
  div.blog {
    cursor: none;
    margin-top: 3.5rem;
  }
  h1.blogHeading {
    margin-top: 2rem;
    font-size: 5rem;
  }
}

@media (min-width: 1100px) {
  h1.blogHeading {
    font-size: 6rem;
  }
}
