/* fonts */
@font-face {
  font-family: 'archivoRegular';
  src: url('../../../../fonts/ArchivoBlack-Regular.ttf') format('truetype');
}

div.setting {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}
