/* global */
main.technologies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  height: 100vh;
  background-color: rgb(114, 114, 114);
  color: white;
}

main.hide_page_division {
  border-top: 5px solid black;
}

@media (max-width: 799px) {
  .technology_icon {
    color: black;
    height: 5rem;
    width: 5rem;
  }
}
