/* global */
main.technologies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  height: 100vh;
  background-color: black;
  color: white;
}

main.hidePageDivision {
  border-top: 5px solid black;
}
