/* fonts */
@font-face {
  font-family: 'archivoRegular';
  src: url('../../../../fonts/ArchivoBlack-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'archivoThin';
  src: url('../../../../fonts/ArchivoNarrow-VariableFont_wght.ttf')
    format('truetype');
}

li.category {
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem;
  color: white;
  cursor: crosshair;
  border: 3px solid white;
  background-color: black;
  border-radius: 1rem;
  font-family: archivoThin;
  text-transform: uppercase;
  transition: all 1s;
  user-select: none;
}
li.category:hover {
  color: black;
  background-color: white;
  border-color: black;
}

@media (max-width: 799px) {
  li.category {
    margin: 0.25rem 0.5rem;
    font-size: 0.9rem;
  }
}
@media (max-width: 499px) {
  li.category {
    font-size: 0.8rem;
  }
}

@media (min-width: 800px) {
  li.category {
    margin: 0.5rem 0;
  }
}

@media (min-width: 1500px) {
  li.category {
    font-size: 1.1rem;
  }
}
